@page "/"

@inject HttpClient httpClient

<Carousel />

<section id="promotional-text" class="m-2 break-banner banner-index">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center break-banner" style="font-size: 1.5em">
            <p>Garden Services <i class="fas fa-seedling"></i></p>
        </div>
    </div>
</section>
<br />

<section id="company-history-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="company-history-left">                    
                    <div class="company-history-left-text">
                        <p class="index-paragraph">
                            Nam aliquam quis libero quis mattis. Vestibulum at nibh quis risus convallis euismod.
                            Aenean euismod, arcu et volutpat pellentesque, nisl turpis lobortis orci, at fermentum ligula odio ac felis.
                            Aliquam tempus sed purus at ullamcorper. Nam ac tempus turpis. Suspendisse tincidunt massa vel nibh volutpat, id congue purus venenatis.
                            Integer ipsum lorem, pellentesque vitae condimentum sed, gravida et risus.
                        </p>
                        <p class="index-paragraph">
                            Nam in lacinia leo. Phasellus ut mollis lorem, ut tristique leo. Nam aliquam semper est. Donec congue nisi eu nisi tincidunt dignissim.
                            Phasellus et odio sem. Aliquam euismod nisi id ipsum ultricies,
                            at venenatis tellus malesuada. Nunc lobortis, augue non hendrerit aliquam, erat sem sodales nunc,
                            ultrices laoreet elit urna tempor lorem.
                        </p>
                    </div>
                    <div class="company-history-list">
                        <ul class="history-left-list list-item-mobile w-50">
                            <li><i class="fa fa-angle-right"/> Grounds Maintenance</li>
                            <li><i class="fa fa-angle-right"/> Woodwork</li>
                            <li><i class="fa fa-angle-right"/> Weed Control</li>
                        </ul>
                        <ul class="history-left-list list-item-mobile w-50">
                            <li><i class="fa fa-angle-right"/> Grass Cutting</li>
                            <li><i class="fa fa-angle-right"/> Grounds Clearance</li>
                            <li><i class="fa fa-angle-right"/> Planting Schemes</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="company-history-right">
                    <div class="tri-images">
                        <img src="@filePath/IMG_0775.JPG" />
                        <img src="@filePath/IMG_0841.JPG" />
                        <img src="@filePath/IMG_0834.JPG" />
                    </div>
                    <div class="section-title2 company-history-right-title pt-1">
                        <h3 class="text-center pt-2"><span>Friendly Gardener</span></h3>
                    </div>
                    <div class="company-history-right-text">
                        <p style="text-align: justify;">
                            Donec semper in tortor sed efficitur. Duis congue pretium nunc, quis gravida leo ornare quis. Mauris ac magna dolor.
                            Maecenas lobortis neque nisi. Sed congue rhoncus sapien, eu iaculis justo gravida malesuada.
                            In interdum enim sed lectus elementum accumsan. Suspendisse convallis eget erat in blandit. Quisque non porttitor justo.
                        </p>
                    </div>
                    <div class="feature-image">
                        <img src="@filePath/IMG_0834.JPG" alt="Woodwork and flower arrangement" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ContactUsPrompt ShowGallery="true" />

@code {
    private string filePath = "Images/ImagesWeLike/Compressed";
}