@page "/"

@inject HttpClient httpClient

<ContactUsBanner HeadingText="From our home to yours..." ParagraphText="Some quick example text" ButtonText="Contact Us" ButtonUrl="/contact" HideButton="false"/>

<section id="promotional-text" class="m-2 break-banner">
    <div class="row">        
        <div class="col-lg-12 col-md-12 text-center break-banner">
            <p>Professional horticulturists offering exceptional service</p>
        </div>        
    </div>
</section>

<br />

<section id="company-history-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
                <div class="company-history-left">
                    <div class="section-title2">
                        <p>Reasons to choose</p>
                        <h1><span>Milverton Garden Service</span></h1>
                    </div>
                    <div class="company-history-left-text">
                        <p>Nam aliquam quis libero quis mattis. Vestibulum at nibh quis risus convallis euismod. 
                        Aenean euismod, arcu et volutpat pellentesque, nisl turpis lobortis orci, at fermentum ligula odio ac felis. 
                        Aliquam tempus sed purus at ullamcorper. Nam ac tempus turpis. Suspendisse tincidunt massa vel nibh volutpat, id congue purus venenatis. 
                        Integer ipsum lorem, pellentesque vitae condimentum sed, gravida et risus.</p>
                        <p>Nam in lacinia leo. Phasellus ut mollis lorem, ut tristique leo. Nam aliquam semper est. Donec congue nisi eu nisi tincidunt dignissim.
                        Phasellus et odio sem. Aliquam euismod nisi id ipsum ultricies, 
                        at venenatis tellus malesuada. Nunc lobortis, augue non hendrerit aliquam, erat sem sodales nunc, 
                        ultrices laoreet elit urna tempor lorem.</p>
                    </div>
                    <div class="company-history-list">
                        <ul class="history-left-list w-50">
                            <li><i class="fa fa-angle-right"></i> Grounds Maintenance<br></li>
                            <li><i class="fa fa-angle-right"></i> Hedge Trimming<br></li>
                            <li><i class="fa fa-angle-right"></i> Weed Control</li>
                        </ul>
                        <ul class="history-left-list w-50">
                            <li><i class="fa fa-angle-right"></i> Grass Cutting<br></li>
                            <li><i class="fa fa-angle-right"></i> Grounds Clearance<br></li>
                            <li><i class="fa fa-angle-right"></i> Planting Schemes</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                <div class="company-history-right">
                    <div class="tri-images">
                        <img src="Images/ImagesWeLike/IMG_0775.JPG" />
                        <img src="Images/ImagesWeLike/IMG_0841.JPG" />
                        <img src="Images/ImagesWeLike/IMG_0834.JPG" />
                    </div>                    
                    <div class="section-title2 company-history-right-title">
                        <h3 class="text-center pt-2"><span>Experienced Horticulturists</span></h3>
                    </div>
                    <div class="company-history-right-text">
                        <p>Donec semper in tortor sed efficitur. Duis congue pretium nunc, quis gravida leo ornare quis. Mauris ac magna dolor. 
                        Maecenas lobortis neque nisi. Sed congue rhoncus sapien, eu iaculis justo gravida malesuada. 
                        In interdum enim sed lectus elementum accumsan. Suspendisse convallis eget erat in blandit. Quisque non porttitor justo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<SurveyPrompt Title="How did you find our website?" />*@