@page "/"

@inject HttpClient httpClient

<Carousel />

<section id="promotional-text" class="m-2 break-banner banner-index">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center break-banner" style="font-size: 1.5em">
            <p>Garden Services <i class="fas fa-seedling"></i></p>
        </div>
    </div>
</section>
<br />

<section id="company-history-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="company-history-left">
                    <div class="company-history-left-text">
                        <p class="index-paragraph">
                            Katie's Garden, nestled in the heart of picturesque Milverton, is your trusted local partner for a wide array of garden services. Our skilled team takes pride in enhancing the beauty and functionality of your outdoor space. With a passion for nature and a commitment to excellence, we offer comprehensive garden maintenance services that keep your garden in pristine condition throughout the seasons.
                        </p>
                        <div class="company-history-list">                            
                                <ul class="history-left-list list-item-mobile w-50" style="margin-bottom: 1rem;">
                                <li><i class="fa fa-angle-right" /> Grounds Maintenance</li>
                                <li><i class="fa fa-angle-right" /> Woodwork</li>
                                <li><i class="fa fa-angle-right" /> Weed Control</li>
                            </ul>
                                <ul class="history-left-list list-item-mobile w-50" style="margin-bottom: 1rem;">
                                <li><i class="fa fa-angle-right" /> Grass Cutting</li>
                                <li><i class="fa fa-angle-right" /> Grounds Clearance</li>
                                <li><i class="fa fa-angle-right" /> Planting Schemes</li>
                            </ul>                            
                        </div>
                        <p class="index-paragraph">
                            Our expertise extends far beyond maintenance. We're also your go-to destination for landscaping that transforms your garden into any desired form. Our design consultations allow us to understand your vision, creating tailored solutions that bring your dream garden to life. Additionally, our team prides itself on our stunning flower arrangements, and our handcrafted woodwork products add a touch of rustic elegance to your outdoor haven. At Katie's Garden, we're dedicated to making your garden dreams a reality, right here in the heart of Somerset.
                        </p>
                        <p class="index-paragraph">                            
                            Katie's Garden showcases their versatility, commitment, and horticultural expertise, delivering exceptional results in both urban and rural settings, earning praise and trust from satisfied clients from Bristol to the surrounding Taunton area.
                        </p>
                        <div style="text-align: center;">
                            <i class="fa-solid fa-trowel"></i>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="company-history-right">
                    <div class="tri-images">
                        <img src="@filePath/flower_tall.jpg" loading="eager" />
                        <img src="@filePath/dark_planter_tall.jpg" loading="eager" />
                        <img src="@filePath/flower_2_tall.jpg" loading="eager" />
                    </div>
                    <div class="section-title2 company-history-right-title pt-1">
                        <h3 class="text-center pt-2"><span>Katie's Garden</span></h3>
                    </div>
                    <div class="company-history-right-text">
                        <p style="text-align: justify;">
                            Katie, an industrious and design-driven gardener with over 5 years of local experience, tends to numerous properties in the Taunton area. Her passion for crafting beautiful outdoor spaces is evident in her work. Katie offers a welcoming initial consultation at no cost, ensuring every garden reflects her client's unique vision.
                        </p>
                    </div>
                    <div class="feature-image">
                        <img src="@filePath/pink_roses_and_chair.jpg" loading="eager" alt="Flower arrangement" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<ContactUsPrompt ShowGallery="true" />



@code {
    const string filePath = "Images/ImagesWeLike/Compressed";
}