
<div class="alert alert-secondary mt-4" style="background: var(--primary-colour); color: white; text-align:center" role="alert">
    <span class="oi oi-people mr-2" aria-hidden="true"></span>    
        <span>Feel free to <a href="/contact"><strong style="color: white;">get in touch</strong></a></span>    
</div>

@code {

    [Parameter] public bool ShowGallery { get; set; }

}