

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-people mr-2" aria-hidden="true"></span>
    Find out more about <a href="/gallery"><strong>our services</strong></a> or feel free to <a href="/contact"><strong>get in touch</strong></a>     
</div>

@code {
    [Parameter] public string Title { get; set; }
}
