@inherits LayoutComponentBase

    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <header>
        <NavMenu />
    </header>

    <div class="container m-0 p-0" style="max-width: 100%">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>