@inherits LayoutComponentBase

<MudThemeProvider Theme="CustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<header>
    <NavMenu />
</header>

<div class="container m-0 p-0" style="max-width: 100%">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
                    <h5>
                        <i class="fas fa-seedling d-block me-2" width="40" height="32" title="Katie's Garden"><span class="fs-5 default-font">  Katie's Garden</span></i>
                    </h5>
                </a>
                <ul class="list-unstyled small">
                    <li class="mb-2">Designed by the many hands of the Porter family, built by Samuel Biggs using <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">.NET Blazor</a></li>
                    <li class="mb-2">Site Version @version</li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-2 mb-3">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/">Home</a></li>
                    <li class="mb-2"><a href="/gallery">Gallery</a></li>
                    <li class="mb-2"><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-2 mb-3">
                <h5>About</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="https://github.com/samBiggs32/KatiesGarden"><img src="Images/github.svg" height="17" /> GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<UpdateAvailableDetector />

@code {
    MudTheme CustomTheme = new MudTheme()
        {
            Palette = new PaletteLight()
            {
                Primary = Colors.Teal.Default,
                Secondary = Colors.Green.Accent4,
                AppbarBackground = Colors.Red.Default,
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };

    string version = "v1.0.4";
}