
<nav class="navbar navbar-expand-sm navbar-light background-colour-primary p-0">

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="mobile-logo" style="flex: 1">
        <a href="">
            <img src="Images/Katies-Garden-(long) 2.gif" alt="Katie's Garden" style="max-height: 84px" />
        </a>
    </div>
    <div class="navbar-collapse collapse ml-auto" id="navbarsExample03">
        <div class="nav navbar-nav ml-auto w-100">
            <div class="w-100 text-center">
                <a data-testid="linkElement" href="tel:+44 7804 784522" aria-disabled="false">
                    <span class="phone-number-text">Contract Katie on: 07804 784522</span>
                </a>
            </div>
        </div>
        <div class="nav navbar-nav ml-auto w-100 justify-content-center d-none d-sm-block" style="align-items: center; text-align: center;">
            <a href="">
                <img src="Images/Katies-Garden-(long) 2.gif" alt="Katie's Garden" style="max-height: 84px" />
            </a>
            <hr>
        </div>
        <div class="nav navbar-nav ml-auto w-100 justify-content-end">
            <ul class="text-center w-100">
                <li class="nav-item active pt-1 list-orientation">
                    <div class="w-100">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </div>
                </li>
                <li class="nav-item pt-1 list-orientation">
                    <div class="w-100">
                        <NavLink class="nav-link" href="gallery">
                            <span class="oi oi-image" aria-hidden="true"></span> Gallery
                        </NavLink>
                    </div>
                </li>
                <li class="nav-item pt-1 list-orientation">
                    <div class="w-100">
                        <NavLink class="nav-link" href="contact">
                            <span class="oi oi-chat" aria-hidden="true"></span> Contact
                        </NavLink>
                    </div>
                </li>                
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
