@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --background-colour: #e0f2f1;
    --primary-colour: #00796b;
    --secondary-colour: rgba(47, 79, 79);
}

html, body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.section-title {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.index-paragraph {
    text-align: justify;
}

.background-colour-primary {    
    background-color: var(--background-colour);
}

.navbar {
    position: relative;
}

hr {
    border: 0;
    clear: both;
    display: block;
    background-color: #a79d96;
    height: 1px;
}

.company-history-list ul.history-left-list {
    float: left;
}

.company-history-list ul li {    
    color: var(--primary-colour);
    font-size: 17px;
    font-style: normal;    
    line-height: 40px;
}

.contact {
    background-color: rgba(47, 79, 79, 0.55) !important;
    color: #ffffff !important;
}

.tri-images {
    align-items: center;
    text-align: center;
}

    .tri-images > img {
        display: inline-block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 32%;
    }


.feature-image {
    align-items: center;
    text-align: center;
}

.feature-image > img {
    display: inline-block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#promotional-text {
    background-color: var(--primary-colour);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    display: flex;
    height: 50px;
    margin: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.break-banner > p {
    display: table-cell;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.primary-colour {
    color: #88393f
}

.background-media-text_image {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.background-media-text__text {
    text-align: left;
    background: #fff;
    padding: 40px;
    width: 380px;
}

.background-media-text_inner {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.carousel-size {    
    min-height: 40em;    
}

.article-section {
    padding: 3rem !important;
}

.contact{
    background-color: var(--secondary-colour);
}

.list-orientation {
    display: inline-block;
}

.gallery-carousel {
    width: 50%;
    left: 25%;
}

.gallery-text {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 50%;
}

@media (max-width: 1300px){
    .carousel-size {
        min-height: 25em;
    }    
}

@media (max-width: 991.98px) {
    .carousel-size {
        min-height: 10em;
    }

    .gallery-carousel {
        /*width: 100% !important;*/
        left: inherit;
        padding-left: 1em;
        padding-right: 1em;
    }

    .gallery-text {
        width: 100% !important;
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media (max-width: 540) {
    .banner-index{
        height: 4.7em !important;
    }    

    ul.list-item-mobile > li {
        width: 100%;
    }

    .list-orientation {
        display: block;
    }
    
    .hide-icon-mobile {
        display: none !important;
    }

    .article-section {
        padding: 0.5rem !important;
    }

    .carousel-size {
        min-width: 100%;        
    }

    .card-padding {
        padding: 0;
        margin: 0;
    }

    .crop {
        height: inherit !important;
    }

    .contact-button {
        width: 100%;
    }
}

@media (min-width:540px) {
    .map-location {
        padding: 2em;
    }

    .desktop-article {
        max-width: 60%;
        justify-content: center;
        align-items: center;
        left: 20%;
    }

    .image-container {
        position: relative;
        text-align: center;
    }

    /* Bottom left text */
    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
    }

    /* Top left text */
    .top-left {
        position: absolute;
        top: 8px;
        left: 16px;
    }

    /* Top right text */
    .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
    }

    /* Bottom right text */
    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .center-right {
        position: absolute;
        top: 50%;
        left: 85%;
        transform: translate(-25%, -65%);
    }

    .center-left {
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-25%, -65%);
    }
}

@media (min-width: 1140px) {
    .index-paragraph {
        padding-right: 7em;
    }
}

/*Small bootstrap*/


.carousel_img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.crop {
    width: 100%;    
    overflow: hidden;
}

    .crop img {
        width: 100%;
    }

.image-text {
    font-weight: 200;
}

.button-primary {
    transition: all .5s ease;
    border: 3px solid white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 10px;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

    .button-primary:hover {
        color: #001F3F;
        background-color: #fff;
    }
